

/server/node_modules
/node_modules
/auth-service/node_modules
/board-service/node_modules

/auth-service/dist
/board-service/dist
/server/dist
/client/dist


/server/.env
/client/.env
/board-service/.env
/auth-service/.env
