.boardGrid {
    margin: 50px 10px 100px 100px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.addCardButton{
    height: 55px;
    width: 200px;

}
