:root {
    --todo-color: #a02020; 
    --todo-border-color: #701010; 

    --in-progress-color: #b89c30; 
    --in-progress-border-color: #8a6f20; 

    --done-color: #388e3c;
    --done-border-color: #2a6b2c;
}


.card {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #f0f0f0;
    
}

.card.todo {
    background-color: var(--todo-color);
}

.card.todo .taskHeader {
    border-bottom: 1px solid var(--todo-border-color);
}

.card.in-progress {
    background-color: var(--in-progress-color);
    text-shadow: black;
    
}

.card.in-progress .taskHeader {
    border-bottom: 1px solid var(--in-progress-border-color);
}


.card.done {
    background-color: var(--done-color);
}

.card.done .taskHeader {
    border-bottom: 1px solid var(--done-border-color);
}

.taskHeader {
    display: flex;
    align-items: center;
    width: 100%;
}

#headerText {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.statusText {
    margin-left: 0.5rem;
    font-size: small;
}

.taskContent {
    margin-left: 0.5rem;
    padding-bottom: 1rem;
    white-space: pre-wrap;
}